<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Otobus Bileti Detayları</title>
</head>

<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
    <div style="width: 90%; margin: 12px auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; ">
        <img src="https://biletimlanding.westerops.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficon.fee63e71.png&w=1920&q=75" alt="Biletim.com" style="width: 30%; height: auto; display: block; margin: auto ">
        <p> <strong>Merhaba {{passengers.0.passengerFullName}},</strong>Otobus biletinizi başarıyla satın aldınız! </p>
        <p><strong>{{trip.busCompany}}</strong> biletiniz için PNR kodunuz: <strong>{{pnrNumber}}</strong></p>
        <p><strong>Biletim.com</strong></a>’a gösterdiğiniz ilgi ve güven için teşekkür ederiz. Almış olduğunuz bilet(ler)in detaylarına aşağıdan ulaşabilirsiniz.</p>
        <p style="text-decoration: underline; font-weight: bold; color: #4E8CE9"><strong>Değişiklik ya da iptal işlemleri</strong> için <a href="tel:+908502442586" style="color: #37C1F0; text-decoration: none;">+90 850 244 2586</a> numaralı telefonumuzdan bize 7 gün 24 saat ulaşabilirsiniz.</p>
        <p>Şimdiden iyi yolculuklar dileriz!</p>
        <p><strong>BILETIM.COM Ekibi</strong></p>
        <h3 style="background-color: #0070c0; color: white; text-align: center; ">SEFER BİLGİLERİ</h3>
        <table style="width: 100%; margin-top: 20px; ">
            <tr>
                <th style="padding: 10px;  text-align: left; text-decoration:underline; border-bottom: 2px solid black">
                    <img src={{companyLogo}} style="width: 60px; height: auto; display: block;" >
                </th>
                <td style="border-bottom: 2px solid black; padding: 10px; text-align: right;">Firma: <br />{{trip.busCompany}}</td>
            </tr>
            <tr>
                <th style="padding: 10px;  text-align: left; text-decoration:underline;"> Kalkış </th>
                <td style="padding: 10px; text-align: right">{{trip.departureTerminal}}</td>
            </tr>
            <tr>
                <th style="padding: 10px;  text-align: left; text-decoration:underline;"> Varış </th>
                <td style="padding: 10px; text-align: right">{{trip.arrivalTerminal}}</td>
            </tr>
            <tr>
                <th style="padding: 10px;  text-align: left; text-decoration:underline;"> Tarih </th>
                <td style="padding: 10px; text-align: right">{{trip.departureDate}}</td>
            </tr>
            <tr>
                <th style="padding: 10px;  text-align: left; text-decoration:underline;"> Saat </th>
                <td style="padding: 10px; text-align: right">{{trip.departureTime}}</td>
            </tr>
        </table>
        <p
            style="padding: 12px 10px;  background-color: #f2f2f2; border-bottom: 2px solid black; border-top: 2px solid black ">
            <strong>Bilet bastırmanıza gerek olmadan otobüse binebilirsiniz.</strong> <br /> <a href="#"
                style="color: black; text-decoration: none;">Mobil biletinizi görmek için tıklayın!</a></p>
        <h3 style="background-color: #0070c0; color: white; text-align: center; ">Yolcu Bilgileri</h3> 
        {{#each passengers}}
            <div style="margin-top: 20px; border-top: 2px solid black; border-bottom: 2px solid black;">
                <p style="width: 100%; background-color: #f2f2f2; font-weight: bold">
                    {{#if (moreThanOne ../passengers)}}{{inc @index}}. {{/if}}
                    Yolcu Bilgileri
                </p>
                <table style="width: 100%; border-collapse: collapse;  ">
                    <tr>
                        <th style="padding: 10px; text-align: left; "> Ad Soyad: </th>
                        <td style="padding: 10px; text-align: right">{{this.passengerFullName}}</td>
                    </tr>
                    <tr>
                        <th style="padding: 10px; text-align: left;"> Koltuk </th>
                        <td style="padding: 10px; text-align: right">{{this.seatNumber}}</td>
                    </tr>
                    <tr>
                        <th style="padding: 10px; text-align: left;"> Fiyat </th>
                        <td style="padding: 10px; text-align: right">{{this.amount}} TRY</td>
                    </tr>
                    <tr>
                        <th style="padding: 10px; text-align: left;"> PNR </th>
                        <td style="padding: 10px; text-align: right">{{this.pnrNumber}}</td>
                    </tr>
                    <tr>
                        <th style="padding: 10px; text-align: left;"> Cinsiyet </th>
                        <td style="padding: 10px; text-align: right">{{this.gender}}</td>
                    </tr>
                    <tr>
                        <th style="padding: 10px; text-align: left;"> TCKN </th>
                        <td style="padding: 10px; text-align: right">{{this.tcNumber}}</td>
                    </tr>
                </table>
            </div>
        {{/each}}
    </div>
    <div style="background-color: #5A686F; color: white; width: 60%; margin: auto;  text-align: center; padding: 4px 0; margin-top: 50px">
        <h3>Bilet İptali/Erteleme Şartları</h3>
        <p><strong>İptal Koşulları</strong> Son 1 saate kadar online iptal</p>
        <p> <strong>İptal ve değişiklik</strong> işlemleriniz için 7 gün 24 saat Canlı Destek birimimize veya 0850244 2586 numaralı telefondan çağrı merkezimize ulaşabilirsiniz. </p>
        <div style="background-color: #5A686F ; color: black; padding: 8px">
            <p>İlgi ve güveniniz için teşekkür eder, bir sonraki yolculuğunuz için de hizmet vermek isteriz </p>
            <a href="https://biletim.com" style="color:#37C1F0 ">Biletim.com</a>
        </div>
    </div>
</body>

</html>